*{
	margin: 0px;
	padding: 0px;
	font: 10pt Arial, Helvetica, Sans-serif;
}
h1{
	font: bold 25px Arial, Helvetica, Sans-serif;
	text-shadow:rgb(110, 110, 110) 3px 3px 5px;
}
h2{
	font: bold 12pt Arial, Helvetica, Sans-serif;
}
header, section, footer, aside, nav, article, hgroup{
	display: block;
}
body{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack: center;
}
details summary::-webkit-details-marker{
    display: none;
}
#hostid{
    display:-webkit-box;
	background: #c8d382;
	color: #23440e;
	font: bold 12pt Arial, Helvetica, Sans-serif;
	text-shadow:rgb(110, 110, 110) 2px 2px 3px;
	margin: 0px 0px 10px 0px;
	padding: 10px 2px 2px 10px;
	height: 30px;
	-webkit-box-flex: 1;
	-webkit-border-radius:5px;
	-webkit-box-shadow:rgb(110, 110, 110) 5px 5px 5px;
}
#vmid{
    display:-webkit-box;
	background: #eef5bc;
	color: #23440e;
	font: bold 11pt Arial, Helvetica, Sans-serif;
	text-shadow:rgb(110, 110, 110) 2px 2px 3px;
	margin: 0px 0px 5px 0px;
	padding: 4px 2px 2px 10px;
	height: 25px;
	-webkit-box-flex: 1;
	-webkit-border-radius:5px;	
	-webkit-box-shadow:rgb(80, 80, 80) 1px 1px 3px;
}  
#big_wrapper{
	max-width: 1500px;
	margin: 0px 0px;
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}
#top_header{
	background:-webkit-linear-gradient(45deg,#93a53b,#93a53b);
	padding: 20px;
	color: #23440e;
}
#tlclogo{
	float: right;
}
#h1text1{
	text-align: left;
	vertical-align: bottom;
}
#top_menu{
	background:-webkit-linear-gradient(45deg,#93a53b,#93a53b);
	color: #e8fdde;	
	padding: 5px 0px 20px 20px;
}
#top_menu li{
	display:inline-block;
	list-style:none;
	font:bold 10pt Arial, Helvetica, Sans-serif;
	text-shadow:rgb(110, 110, 110) 2px 2px 3px;
	padding:5px;
}
#main_div{
    border: 3px solid #93a53b;	
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 0px;
	-webkit-border-radius: 10px;
}
#main_section li{
	list-style: none;
	padding: 0px 0px 0px 10px;
}
#side_news{
	border: 3px solid #93a53b;
	color: #23440e;
	width: 200px;
	margin: 10px 10px 10px 0px;
	padding: 10px 20px 10px 20px;
	background: #eef5bc;
	-webkit-border-radius: 10px;
}
#textstyle01{
	font: bold 11pt Arial, Helvetica, Sans-serif;
	text-shadow:rgb(110, 110, 110) 2px 2px 3px;
	color: #23440e;
}
#textstyle02{
	font: 10pt Arial, Helvetica, Sans-serif;
	text-shadow:rgb(110, 110, 100) 2px 2px 3px;
	color: #23440e;
}
#main_section{
    display:-webkit-box;
    -webkit-box-orient: horizontal;
    width: 900px; 
    -webkit-box-pack:start;
	/*height: 200px; */ 
    -webkit-box-align:stretch;
    -webkit-border-radius: 10px;
}
#info_section{
	background: #eef5bc;
	padding:10px 10px 10px 10px;
	margin:0px 0px 0px 10px;
	/* -webkit-box-ordinal-group: 3; */
	width: 200px;
	-webkit-box-flex: 1;
	-webkit-border-radius: 10px;
}
#progress_section{
	border: 0px solid green;
	background: #eef5bc;
	/*background: white; */
	padding:10px 10px 10px 10px;
	margin:0px 0px 0px 5px;
	width: 600px; 
	/* -webkit-box-ordinal-group: 3; */
	/* -webkit-box-flex: 1; */
	-webkit-border-radius: 10px;
}
#event_section{
	border: 0px solid red;
	background: #eef5bc;
	padding:10px 10px 10px 10px;
	margin:0px 0px 0px 10px;
	/* -webkit-box-ordinal-group: 3; */
	width: 550px;
	-webkit-box-flex: 1;
	-webkit-border-radius: 10px;
}
#update_section{
	color: #23440e;
	/*border-top: 1px solid #93a53b;*/
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background: #eef5bc;
}
#updlog{
	border: 1px solid #93a53b;
	color: #23440e;
	margin: 3px 3px 3px 0px;
	padding: 2px 2px 2px 2px;
	background: #eef5bc;
	-webkit-border-radius: 10px;
}
#progress_table{
	color: #23440e;
	margin: 5px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
	background: #eef5bc;
}
progress{
    -webkit-appearance: none;
}
progress::-webkit-progress-bar {
    margin: 3px 3px 0px 0px;
    padding: 2px;
    height:10px;
    background: yellowgreen;
    border-radius:25px;
}
progress::-webkit-progress-value {
    background: darkgreen;
    border-radius:25px;
}
#log_section{
    border: 1px solid #93a53b;
    display:-webkit-box;
	margin: 10px 0px 10px 10px;
	padding: 10px 10px 10px 10px;
	-webkit-border-radius: 10px;
}
#log_area{
    display:-webkit-box;
    -webkit-box-orient: horizontal;
	width: 850px; 
	-webkit-box-pack:start;
	/*height: 200px; */ 
	-webkit-box-align:stretch;
}
#log_box{
	/*background: #eef5bc;*/
	background: white; 
	padding:5px 0px 5px 10px;
	margin:5px 0px 0px 5px;
	/*width: 160px; */
	/* -webkit-box-ordinal-group: 3; */
	-webkit-box-flex: 1;
	-webkit-border-radius: 10px;
}
#srclog{
	border: 1px solid #93a53b;
	color: #23440e;
	margin: 10px 10px 10px 0px;
	padding: 10px 10px 10px 10px;
	background: #eef5bc;
	-webkit-border-radius: 10px;
}
#dstlog{
	border: 1px solid #93a53b;
	color: #23440e;
	margin: 10px 10px 10px 0px;
	padding: 10px 10px 10px 10px;
	background: #eef5bc;
	-webkit-border-radius: 10px;
}

#the_footer{
	text-align:center;
	padding: 5px;
	/* border-top: 3px solid #93a53b; */
	font: 8pt Arial, Helvetica, Sans-serif;
	color: #93a53b;
}
#vasabilogo{
	float: right;
	margin: 5px;
}
#copyright{
	float: right;
}
